$primary-color: #415167;
$dark-color:#151D28;
$light-color: #EDF0F5;
$second-color: #F9F5E8;
$accent-color:#C7A17A;
$text-color:#232C38;
$tabs-button:#fff;
$border:#EDF0F5;
$text-color-white:#fff;

$font-family-secondary: 'Nunito', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

